
ul{
/*	position:fixed;*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	width : 100%;
	overflow: hidden;
	background-color: #e2bebe;
	
}

li {
  float: left;
} 


li a{
	display: block;
	width: 160px;
	transition: 1s;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

li a.active{
	background-color: #b96b9f;
	color: white;
}

li a.heighlight{
	background-color: #f5f687;
	color: black;
}

li a:hover:not(.active){
	background-color: #f5f687;
	color: black;
	width: 180px;
}

body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background-color: #6fc2d0;
}

section {

	margin-top:20px;
	margin-bottom:20px;
}
header {
	
	background-color: #6fc2d0;
	color: white; /* more readable on an orange background */
	padding-top: 50px;
	padding-bottom: 50px;
}

p.serif {
  font-family: "Petrona", serif;
}

p.sansserif {
  font-family: "Brandon Grotesque", sans-serif;
}

h1.serif {
  font-family: "Petrona", serif;
	font-size: 30px;
	color: #fff;
}

h1.sansserif {
  font-family: "Brandon Grotesque", sans-serif;
}

h3.serif {
  font-family: "Petrona", serif;
}

p {
  font-size: 20px;
}

.slider {
  margin: 0 auto;
  width: 100%;
}

.slide_viewer {
  height: 550px;
  overflow: hidden;
  position: relative;
	width: 100%;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: #D7A151;
}

.slide:nth-of-type(2) {
  background: #F4E4CD;
}

.slide:nth-of-type(3) {
  background: #C75534;
}

.slide:nth-of-type(4) {
  background: #D1D1D4;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
	margin-top: 40px;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
	top:-80px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}

.logo{
	display: block;
  margin-left: auto;
  margin-right: auto;
}
